body{
	background-color: lightsteelblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.details{
    font-size: 15px;
    font-family: sans-serif;
    font-style: italic;
    display: flex;
}
div.details1{
    font-size: 15px;
    font-family: sans-serif;
    font-style: italic;
    display: flex;
}

label{
    width:100px;
    clear:left;
    text-align:left;
    padding-right:20px;
    margin: 2;
    flex-direction: row;
    justify-content: flex-end;

}

input{
  height: 20px;
  flex: 0.5 0 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}

select {
    height: 10hv;
    flex: 0.5 0 100px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
